# dependencies
node_modules
.pnpm-store

# build outputs
.next
dist
.turbo
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# generated
packages/api-clients/src/generated/

# misc
.DS_Store
*.log
coverage
.nyc_output
